<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="comment">
	<h1 class="comment_author"><%=current_user.pseudo.upcase%><h1>
	<div class="field comment_text inline">
		<%= f.text_area :content %>
	</div>
  <div class="actions comment_text inline">
    <%= f.submit %>
  </div>
</div>
<% end %>
